---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="about | cedar's blog" description="Learn more about Cedar">
  <h2 class="section-header">about me</h2>

  <div class="about-section">
    <p>
      Hi, I'm Cedar. This is my blog.
    </p>
  </div>

  <div class="about-section">
    <h2>contact</h2>
    <p>
      <a href="mailto:cedar.macdonald.you@gmail.com">cedar.macdonald.you@gmail.com</a><br />
      <a href="https://twitter.com/our_decay">@our_decay</a>
    </p>
  </div>

  <div class="back-link">
    <a href="/">&larr; back to home</a>
  </div>
</BaseLayout>
